<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/TraveliLogo.svg') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="max-w-5xl mx-auto px-2 sm:px-4 md:px-6 ">
        {% include 'parts/header.html.twig' %}
        {% block body %}{% endblock %}
        <br>
        {{ include('parts/footer.html.twig') }}

    </body>
</html>
