{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau commentaire{% endblock %}

{% block body %}
    <div class="p-6 bg-white shadow-md rounded-lg max-w-4xl mx-auto">
        <!-- Titre -->
        <h1 class="text-3xl font-bold text-blue-950 mb-8 border-b pb-4">Créer un nouveau commentaire</h1>

        <!-- Formulaire -->
        <div class="mb-8">
            {{ include('comments/_form.html.twig', { 'button_label': 'Créer' }) }}
        </div>

        <!-- Bouton de retour -->
        <div>
            <a
                    href="{{ path('app_comments_index') }}"
                    class="bg-gray-600 text-white px-6 py-2 rounded-lg hover:bg-gray-500 transition focus:outline-none focus:ring-2 focus:ring-gray-300"
            >
                Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}
